<!DOCTYPE html>
<html>
  <head>
    <title>Contact - DanJ Careers</title>
    {% include 'bootstrap.html' %}
    </head>
    <body>
       {% include 'nav.html' %}
       {% include 'banner.html' %}
    
     <div class="container">
    <h1 class="text-center mt-2 mb-4">Contacts</h1>

    <div class="mb-2 text-center" style="font-weight: bold;">Company Name</div>
    <div class="mb-4 text-center">DanJ</div>
     <div class="mb-2 text-center" style="font-weight: bold;">Phone Number</div>
    <div class="mb-4 text-center">000-000-0000</div>

    <div class="mb-2 text-center" style="font-weight: bold;">Email</div>
    <div class="mb-4 text-center">DanJ@DanJ.com</div>
  
     <div class="mb-2 text-center" style="font-weight: bold;">Office</div>
    <div class="mb-2 text-center">XX Road, Jersey City, NJ</div>
    
  
      </div>
        </div>
      {% include 'footer.html' %}
    </body>
 
</html>